extends ../includes/layout

block content
  div(class="wrap")
    include ../includes/header
    h1 #{title}
    form(role="form" method="post" action="register")
      p #{emailAccount}
      input(type="email" name="emailAccount" required)
      p Username
      input(type="text" name="username" required)
      p #{password}
      input(type="password" name= "password" required)
      button(type="submit") Nuevo usuario
  include ../includes/footer
