
footer(class="clearfix black")
  div(class="ink-grid")
    div(class="column-group")
      div(class="all-50")
        ul(class="unstyled inline half-vertical-space")
          li
            a(href="#") Suscripción
          li
            a(href="#") Contacto
          li
            a(href="#") Sobre Archizr
          li
            a(href="#") Uso y condiciones
      div(class="all-50")
        ul(class="unstyled inline half-vertical-space push-right")
          li
            p(style="color: #fff;" ) Archizr. Todos los derechos reservados © 2016
