doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/ink.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.css')
    link(rel='stylesheet', href='/stylesheets/ink-flex.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript", src="/javascripts/ink.js")
    script(type="text/javascript", src="/javascripts/ink-all.js")
    script(type="text/javascript", src="/javascripts/autoload.js")
    script(type="text/javascript", src="/socket.io/socket.io.js")
    script(type="text/javascript" src="/javascripts/ClientSocket.js")
    body
      block content
